<!-- <pre>{{ collection|json }}</pre> -->
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let header of headers">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of collection">
      <td> {{ order.typePresta | uppercase }} </td>
      <td> {{ order.client }} </td>
      <td> {{ order.nbJours }} </td>
      <td> {{ order.tjmHt | currency }} </td>
      <td> {{ order.nbJours| total : order.tjmHt | currency }} </td>
      <td> {{ order.nbJours| total : order.tjmHt : order.tva | currency }} </td>
      <td> {{ order.state }} </td>
    </tr>
  </tbody>
</table>

